{% extends 'base.html.twig' %}

{% block body %}
    <li><a href="{{ path('addUser') }}">Add User</a></li>
    <li><a href="{{ path('listUser') }}">Delete User</a></li>
    <li><a href="{{ path('addGroup') }}">Add Group</a></li>
    <li><a href="{{ path('listgroup') }}">Add/Remove users from Group</a></li>
{% endblock %}
